{
  "version": 1,
  "minor_version": 3,
  "key": "core.config",
  "data": {
    "latitude": 62.3772,
    "longitude": 17.3203,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Hem",
    "time_zone": "Europe/Stockholm",
    "external_url": null,
    "internal_url": null,
    "currency": "SEK",
    "country": "SE",
    "language": "sv"
  }
}